*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    width: 100%;
    height: 100%;
    
}
.imagen-perfil {
    margin-left: 75px;
    margin-right: 110px;
    transform: translateY(-50px);
    width: 70px;
    height: 70px;

}
.imagen-perfil img{
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 50%;
}

.fondo {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    background-color:  #262e71;
}


.perfil{
    width: 20%;
    height: 332px;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    float: left;
    box-shadow: 0 0 20px rgb(126, 125, 125);
    
}
.perfil p {
    font-size: 13px;
}


.editar-perfil{
    width: 60px;
    height: 60px;
    padding: 20px;
    transform: translate(-15px, 15px);
    float: right;
    border-radius: 50%;
    margin: 35px 0px;
    background-color:  #42b148 ;
    color: white;
    cursor: pointer;
}

.editar-perfil img {
    transform: translate(-3px, -6px);
    min-width: 30px;
    min-height: 30px;
    width: 100%;
    height: 100%;
}
.opciones{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;

    padding: 20px;
    margin: 10px;
    float: left;
}


.icono:hover, .caja-1:hover, .caja-2:hover, .caja-3:hover, .caja-4:hover, .caja-5:hover, .caja-6:hover, .caja-7:hover, .caja-8:hover, .caja-9:hover, .caja-10:hover{
    cursor: pointer;
    background-color:  #262e71;
    color: #fff;
}
.caja-1, .caja-2, .caja-3, .caja-4, .caja-5, .caja-6, .caja-7, .caja-8, .caja-9, .caja-10{  
    padding: 5px;
    font-size: 9px;
    border-radius: 5%;
    width: 157px;
    height: 157px;
    margin: 0px;
    box-shadow: 0 0 10px rgb(151, 149, 149);
    
}
.icono{
    color:  #262e71;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 15px;
}

body {
    margin-top: 100px;
    margin-left: 100px;
    
}

@media (max-width: 980px){
    body {
        margin: 0;
        padding: 0;
        
    }
    .container{
        padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .perfil{
        width: 50%;
        height: 280px;
        display: flex;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fondo {
        width: 100%;
        height: 110px;
        border-radius: 10px 10px 0 0;
        background-color:  #262e71;
    }
    
    .editar-perfil {
        padding: 5px;
        margin: auto;
        float: right;
        border-radius: 50%;
        transform: translate(90px, 18px);
       
    
    }
    .editar-perfil img {
        transform: translate(3px, 2px);
         min-width: 40px;
         min-height: 40px;
         width: 20%;
         height: 20%;
    }

    .opciones{
        display: flex;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 10px;
    }

    .caja-1, .caja-2, .caja-3, .caja-4, .caja-5, .caja-6, .caja-7, .caja-8, .caja-9, .caja-10 {
        width: 250px;
                height: 200px;
                font-size: 15px;
                border-radius: 10px;
                margin: 10px;

    }
  

    .si {
        width: 100%;
        border-radius: 8%;
        margin: 0;
    }

}